*{
    text-align: center;
}
body{
    background-color: rgb(228, 205, 225);
}
.container{
    padding: 20px;
    margin: 22px;
    border: 4px solid #123456;
    border-radius: 4px;
    height: 400px;
    width: 400px;
    background-color: #123456;
}
p{
    padding-top: 80px;
    color: white;
}
button{
    padding: 10px;
    border-radius: 4px;
}