*{
    text-align: center;
    
}
.box{
    margin-top: 10%;
    
}
p{
    font-size: 30px;
    font-weight: bold;
}
.blog{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
button{
    padding: 6px;
    border-radius: 4px;
    color: white;
    border-style: none;
    margin: 5px;
    padding: 10px;
    height: 40px;
    width: 100px;
<<<<<<< HEAD
}
=======
}
>>>>>>> c85f6041b0aad7fdc9dccf4c8a87ec5691a6893e
